/* MEDIA QUERY FOR SMALL SCREENS*/
@media screen and (max-width: 600px){
    .successContainer{
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 80%;
        margin: 0px auto;
    }

    .success{
        margin-top: 50px;
        margin-bottom: 150px;
    }

    .success-heading{
        height: 45px;
        font-weight: 400;
        font-size: 30px;
        color: var(--color-primary);
    }

    .success-info{
        font-weight: 400;
        font-size: 14px;
        color: #585858;
        margin-bottom: 100%;
    }

}


/* MEDIA QUERY FOR MEDIUM DEVICES */
@media screen and (min-width: 601px) and (max-width: 1024px){
        .successContainer {
                height: 100%;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 343px;
                margin: 0px auto;
            }
        
            .success {
                margin-top: 50px;
                margin-bottom: 150px;
            }
        
            .success-heading {
                height: 45px;
                font-weight: 400;
                font-size: 30px;
                color: var(--color-primary);
            }

        
            .success-info {
                font-weight: 400;
                font-size: 14px;
                color: #585858;
                /* margin-bottom: 100%; */
            }

            .btn {
                width: 343px;
            }

            .btnSuccess{
                margin-top: 10rem;
            }

           
}


/* MEDIA QUERIES (BIG DEVIVES) */
@media screen and (min-width: 1025px){
        .successContainer {
                height: 100%;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 343px;
                margin: 0px auto;
            }
        
            .success {
                margin-top: 50px;
                margin-bottom: 150px;
            }
        
            .success-heading {
                height: 45px;
                font-weight: 400;
                font-size: 30px;
                color: var(--color-primary);
            }
        
        
            .success-info {
                font-weight: 400;
                font-size: 14px;
                color: #585858;
                
            }

            .btn{
                width: 343px;
            }
        
            .btnSuccess {
                margin-top: 10rem;
            }
}