

.topNav{
    border: hidden;
    box-shadow: 0px 8px 8px rgba(2, 75, 140, 0.08);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}

.topNav-header{
    justify-content: center;
    display: flex;
    float: left;
    width: 95%;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    color: #3F3F3F;
    font-weight: 600;
    font-size: 24px;
}

.topNav-back{
    font-size: 40px;
    cursor: pointer;
    align-items: center;
    color: #6A6B7C;
    width: 25px;
    height: 25px;
}

.topNav-back:hover{
    color: var(--color-primary);
}

.fav{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: -150px;
    
}

.info{
    margin-top: 40px;
    border: hidden;
    border-radius: 10px;
    height: 428px;
    box-shadow: 0px -8px 16px 4px rgba(204, 223, 224, 0.32), 2px 8px 16px 2px rgba(204, 223, 224, 0.56);
    padding-left: 2rem;
    padding-right: 2rem;
    width: 343px;
    height: 450px;
}

.infoHeader{
    color: var(--color-primary);
    margin-bottom: 3px;
    margin-top: 2rem;
}

.infoPrice{
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    
}

.infoPrice h5{
    font-weight: 400;
}

h3{
    margin-bottom: 20px;
}

.infoList{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 300px;
    height: 17px;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
}

.infoList li{
    display: flex;
    gap: 0.6rem;
    margin-bottom: 0.8rem;
}

.infoIcon{
   color: var(--color-primary);
   margin-top: 3px;
}
.btnDiv{
    display: flex;
    justify-content: center;
}

.btn h2{
    font-size: 14px;
}

.btnIcon {
    display: flex;
    float: right;
    font-size: 20px;
    align-content: center;
    margin-right: 30px;
}


