/* MEDIA QUERIES (SMALL DEVIVES) */
@media screen and (max-width: 600px) {
    /* .container {
        width: var(--container-width-sm);
    } */

   .topNav{
        display: flex;
        align-items: center;
        height: 80px;
        justify-content: center;
        font-weight: 600;
        font-size: 16px;
        box-shadow: 0px 8px 8px rgba(2, 75, 140, 0.08);
        color: #3F3F3F;
   }

   .topNav-back{
        position: absolute;
        left: 10px;
        font-size: 24px;
        color: #6A6B7C;
   }

   .fav{
        display: flex;
        height: 56px;
        align-items: center;
        justify-content: center;
        padding-top: 15px;
        margin-bottom: 30px;
        margin-top: 10px;
   }

   .infoContainer{
        display: flex;
        height: fit-content;
        width: 90%;
        margin: 0px auto;
        box-shadow: 0px -8px 16px 4px rgba(204, 223, 224, 0.32), 2px 8px 16px 2px rgba(204, 223, 224, 0.56);
        border-radius: 10px;
   }

   .infoHeader{
        color: var(--color-primary);
        padding: 20px;
        font-weight: 400;
        font-size: 14px;
   }

   .infoHeader-email{
        color: #585858;
        padding-top:10px;
   }

   .infoPrice{
        text-align: center;
        font-weight: 400;
        font-size: 40px;
        color: #3F3F3F;
        padding-bottom: 20px;
   }

   .infoDetails{
        text-align: center;
        width: 100%;
        margin: 0px auto;
        font-weight: 400;
        font-size: 14px;
        padding: 20px;
        color: #6F6F6F;
   }

   .infoList{
        padding: 20px;
   }

   .infoList li{
        display: flex;
        color: #6F6F6F;
   }

   .infoList p{
        padding-bottom: 20px;
        margin-left: 8px;
   }

   .infoIcon{
        display: flex;
        margin-top: 3px;
        color: var(--color-primary);
   }

   .btnDiv{
        display: flex;
        margin-top: 50px;
        padding-bottom: 10px;
   }

   .btn{
        width: 90%;
        margin: 0px auto;
        /* margin-top: 100px; */
   }
}


/* MEDIA QUERIES (MEDIUM DEVIVES) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    .topNav {
        display: flex;
        align-items: center;
        height: 80px;
        justify-content: center;
        font-weight: 600;
        font-size: 16px;
        box-shadow: 0px 8px 8px rgba(2, 75, 140, 0.08);
        color: #3F3F3F;
    }

    .topNav-back {
        position: absolute;
        left: 10px;
        font-size: 24px;
        color: #6A6B7C;
    }

    .fav {
        display: flex;
        height: 56px;
        align-items: center;
        justify-content: center;
        padding-top: 15px;
        margin-bottom: 30px;
        margin-top: 10px;
    }

    .infoContainer {
        display: flex;
        height: fit-content;
        width: 50%;
        margin: 0px auto;
        box-shadow: 0px -8px 16px 4px rgba(204, 223, 224, 0.32), 2px 8px 16px 2px rgba(204, 223, 224, 0.56);
        border-radius: 10px;
    }

    .infoHeader {
        color: var(--color-primary);
        padding: 20px;
        font-weight: 400;
        font-size: 14px;
    }

    .infoHeader-email {
        color: #585858;
        padding-top: 10px;
    }

    .infoPrice {
        text-align: center;
        font-weight: 400;
        font-size: 40px;
        color: #3F3F3F;
        padding-bottom: 20px;
    }

    .infoDetails {
        text-align: center;
        width: 100%;
        margin: 0px auto;
        font-weight: 400;
        font-size: 14px;
        padding: 20px;
        color: #6F6F6F;
    }

    .infoList {
        padding: 20px;
    }

    .infoList li {
        display: flex;
        color: #6F6F6F;
    }

    .infoList p {
        padding-bottom: 20px;
        margin-left: 8px;
    }

    .infoIcon {
        display: flex;
        margin-top: 3px;
        color: var(--color-primary);
    }
}


/* MEDIA QUERIES (BIG DEVIVES) */
@media screen and (min-width: 1025px){
.topNav {
        display: flex;
        align-items: center;
        height: 80px;
        justify-content: center;
        font-weight: 600;
        font-size: 16px;
        box-shadow: 0px 8px 8px rgba(2, 75, 140, 0.08);
        color: #3F3F3F;
    }

    .topNav-back {
        position: absolute;
        left: 10px;
        font-size: 24px;
        color: #6A6B7C;
    }

    .fav {
        display: flex;
        height: 56px;
        align-items: center;
        justify-content: center;
        padding-top: 15px;
        margin-bottom: 30px;
        margin-top: 10px;
    }

    .infoContainer {
        /* display: flex; */
        height: fit-content;
        width: 50%;
        margin: 0px auto;
        box-shadow: 0px -8px 16px 4px rgba(204, 223, 224, 0.32), 2px 8px 16px 2px rgba(204, 223, 224, 0.56);
        border-radius: 10px;
    }

    .infoHeader {
        color: var(--color-primary);
        padding: 20px;
        font-weight: 400;
        font-size: 14px;
    }

    .infoHeader-email {
        color: #585858;
        padding-top: 10px;
    }

    .infoPrice {
        text-align: center;
        font-weight: 400;
        font-size: 40px;
        color: #3F3F3F;
        padding-bottom: 20px;
    }

    .infoDetails {
        text-align: center;
        width: 100%;
        margin: 0px auto;
        font-weight: 400;
        font-size: 14px;
        padding: 20px;
        color: #6F6F6F;
    }

    .infoList {
        padding: 20px;
    }

    .infoList li {
        display: flex;
        color: #6F6F6F;
    }

    .infoList p {
        padding-bottom: 20px;
        margin-left: 8px;
    }

    .infoIcon {
        display: flex;
        margin-top: 3px;
        color: var(--color-primary);
    }

    .btnDiv {
        display: flex;
        margin-top: 50px;
        padding-bottom: 10px;
    }

    .btn {
        width: 50%;
        margin: 0px auto;
        /* margin-top: 100px; */
    }
}


