@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root{
  --color-white: #FFFFFF;
  --color-primary: #3F78E0;
  
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

body{
  font-family: 'Lato', sans-serif;
  background: var(--color-white)
}

h2{
  font-weight: 700;
  font-size: 30px;
}

h3{
  font-weight: 400;
  font-size: 14px;
  color: #585858;
}

p{
  color: #6F6F6F;
}

.btn{
  color: var(--color-white);
  cursor: pointer;
  border-radius: 0.4rem;
  background: var(--color-primary);
  height: 56px;
  width: 343px;
  top: 692px;
  left: 16px;
}


.container {
  width: var(--container-width-lg);
  margin: 0 auto;
  height: fit-content;
}

/* MEDIA QUERIES (MEDIUM DEVIVES) */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  
}

/* MEDIA QUERIES (SMALL DEVIVES) */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

}